streamlit==1.25.0
rich>=14.0.0
markdown-it-py==4.0.0
pygments==2.19.2
torch>=2.1.0
transformers>=4.30.0
sentence-transformers>=2.7.0
sacrebleu>=2.5.1
pandas>=2.3.2
numpy>=1.26.4
bert-score==0.3.13
